In [8]:
import pandas as pd

# Read the Excel file
file_path = 'Resources/2023_01-A.xlsx'
df = pd.read_excel(file_path)

# Rename the 'ShortSqueeze.com Short Interest Data' column
df.rename(columns={'ShortSqueeze.com Short Interest Data': 'Company Name'}, inplace=True)

# Drop unnecessary columns
columns_to_drop = ['Total Short Interest', 'Days to Cover', 'Performance (52-wk)', '% Insider Ownership',
                   '% Institutional Ownership', 'Short: Prior Mo', '% Change Mo/Mo', 'Shares: Float',
                   'Avg. Daily Vol.', 'Shares: Outstanding', 'Price', 'Market Cap', 'Exchange',
                   'Sector', 'Industry', 'Short Squeeze Ranking™', '% from 52-wk High', '(abs)',
                   '% from 200 day MA', '(abs).1', '% from 50 day MA', '(abs).2']

# Check if the columns exist in the dataframe before dropping them
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

df.drop(columns_to_drop, axis=1, inplace=True)

# Filter by Short % of Float >= 20
df = df[df['Short % of Float'] >= 20]

# Replace 'Record Date' values
df['Record Date'].replace({'2023-JanA': '2023-01-11', '2023-JanB': '2023-01-25'}, inplace=True)

# Reset the index
df.reset_index(drop=True, inplace=True)

# Display the cleaned dataframe
df

,Company Name,Symbol,Short % of Float,Record Date
0,AirSculpt Technologies Inc. - Common Stock,AIRS,24.60,2023-01-11
1,Allogene Therapeutics Inc,ALLO,41.77,2023-01-11
2,ALX Oncology Holdings Inc. - Common Stock,ALXO,23.69,2023-01-11
3,Amyris Inc,AMRS,20.18,2023-01-11
4,Aemetis Inc,AMTX,22.45,2023-01-11
...,...,...,...,...
101,Winnebago Industries Inc,WGO,20.07,2023-01-11
102,Clear Secure Inc. Class A Common Stock,YOU,20.08,2023-01-11
103,Lightning eMotors Inc Common Stock,ZEV,23.29,2023-01-11
104,ZIM Integrated Shipping Services Ltd. Ordinary...,ZIM,22.04,2023-01-11
105,ZimVie Inc. - Common Stock,ZIMV,21.79,2023-01-11